<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Add Plan</title>
</head>
<body>
	<div id="header">
		<a href="{% url 'tP:index'%}">Home</a>  <a href="{% url 'loginReg:logout'%}">Logout</a>
	</div>
	{% if messages %}
		<ul class = 'messages'>
			{% for message in messages %}
				 <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		{% endif %}
		{% if RegForm.non_field_errors %}
			{% for error in RegForm.non_field_errors %}
				<li>{{error}}</li>
			{% endfor %}
		</ul>
	{% endif %}
	<h1>Add a Trip</h1>
	<form action="{% url 'tP:confirm' %}", method='POST'>
		{% csrf_token %}
		<input type="hidden" name="traveler" value={{user}}>
		{{addTrip.as_p}}
		<input type="submit" value="Add">
	</form>
	User is
	{{user}}
	<br>
	User id is
	{{user_id}}
	<br>
	User's first name is
	{{user.first_name}}
</body>
</html>
